/* @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;700&family=Pacifico&display=swap'); */
@import url('https://cdn.jsdelivr.net/npm/uikit@3.3.7/dist/css/uikit.min.css');
body {
  background: rgb(179, 237, 222);
  background: linear-gradient(
    20deg,
    rgba(179, 237, 222, 1) 0%,
    rgba(3, 242, 214, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
em {
  color: #8b0b8b;
}
h1,
h2,
h3 {
  color: #8b0b8b !important;
}
.me-img {
  border-radius: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.topgun {
  border-radius: 2%;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}
.fancy-font {
  font-family: 'Pacifico', cursive;
}
.button {
  background-color: #8b0b8b;
  color: white;
}
.button:hover {
  background-color: rgba(139, 11, 107, 0.8);
  color: white;
}
.container-home {
  height: calc(100vh - 6em);
}
.container-page {
  min-height: calc(100vh - 5em);
}
.text-feature {
  font-family: 'Pacifico', cursive;
  font-size: 8rem;
  color: white;
}
.text-page {
  padding-top: calc(100vh - (95vh));
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 4rem;
  color: white;
}
.text {
  padding-top: calc(100vh - (70vh));
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 4rem;
  color: white;
}
.by {
  color: #8b0b8b;
  font-size: 2rem;
  position: relative;
  top: -5.4rem;
  left: 2rem;
}
a,
a:hover {
  color: #8b0b8b;
  text-decoration: none;
}
.links a {
  text-decoration: none;
  font-size: 3rem;
  color: black;
}
.links a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: 500;
}
.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 6em;
}
.text-feature a,
.text-feature a:hover,
.text-feature a:visited {
  text-decoration: none;
  color: white;
}
.card {
  margin: 2em auto;
  width: 80%;
}
.fix-logo {
  margin-right: 0.2em;
}

@media screen and (max-width: 500px) {
  .text-feature {
    font-size: 6rem;
  }
  .text,
  .text-page {
    font-size: 1.8rem;
  }
  .by {
    font-size: 1.5rem;
    top: -4.2rem;
    left: 1.8rem;
  }
  .links a {
    font-size: 1.5rem;
  }
  .button {
    font-size: smaller;
  }
}
/* 👀 Landscape fix layout on home screen mobiles 👀 */
@media screen and (max-width: 850px) and (orientation: landscape) {
  .container-home {
    height: auto;
  }
}

/* Hide me on smaller screens home page */
@media screen and (max-width: 400px) {
  .me-img {
    display: none !important;
  }
}
/* iPhone 5, im watching you 👀 */
@media screen and (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }
  .button {
    font-size: 0.7rem;
  }
}
